html {
    scroll-behavior: smooth;
  }

body {
    background: linear-gradient(to bottom right, rgb(103, 163, 173), rgb(255, 135, 0));
    background-image: linear-gradient(to bottom right, rgb(103, 163, 173), rgb(255, 135, 0)), url("https://i.ibb.co/MZRg73W/v393-tang-04-geometricpattern-2.jpg");
    background-repeat: no repeat;
    background-blend-mode: lighten;
    font-family: 'Prata', serif;
    width: 100%;
}

p {
    color: rgb(216, 211, 211);
}

hr {
    background-color: rgb(214, 133, 57);
    margin-top: 10px;
}

.content {
    padding-bottom: 5%;
}

.container {
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    background-image: linear-gradient(rgb(88, 87, 86), rgb(103, 163, 173));
    box-shadow: 5px 10px 20px;
}

.title {
    padding-top: 20px;
    padding-left: 7px;
}

h2 {
    display: inline-block;
    width: 100%;
}

.tech {
    text-align: center;
    padding: 10px;
    box-shadow: 5px 10px 20px black;
    background-color: rgb(88, 87, 86);
}

#intro {
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    color: rgb(216, 211, 211);
    text-align: left;
}

#aboutMe {
    margin-left: 14%;
    margin-right: 14%;
    box-shadow: 5px 10px 20px black;
    padding: 20px;
    background-color: rgb(88, 87, 86);
}

 #projectsTitle {
     padding-bottom: 1%;
     margin-bottom: 0px;
 }

#profilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    border: solid;
    border-color: rgb(51, 50, 50);
    border-radius: 50%;
    box-shadow: 5px 15px 20px;
}

#mainLanding {
    width: 100%;
    height: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

#navbarName {
    font-family: 'Cinzel Decorative', cursive;
    font-size: large;
}

.navbar {
    background-color:rgb(255, 255, 255);
    box-shadow: 5px 10px 20px;
    width: 100%;
}

.navbar-start {
    margin-right: 1%;
    margin-left: auto;
}

.navbarLinks:hover {
    color: rgb(103, 163, 173);
}

.card-content {
    height: fit-content;
    min-height: 260px;
}

.card {
    box-shadow: 5px 10px 30px;
}

.image {
    width: 1640;
    height: 180px;
    box-shadow: 5px 10px 20px;
}

.image:hover {
    opacity: 0.7; 
}

.techTitle {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.footer {
    padding-bottom: 2px;
    padding-top: 4px;
}

#footer {
    padding-bottom: 10px;
    padding-top: 10px;
}

#copyright {
    padding-top: 10px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(187, 184, 184);
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px;
  }
  
  #myBtn:hover {
    background-color: rgb(221, 218, 218);
  }

  #upArrow {
      width: 20px;
      height: 15px;
  }

.linkButtons {
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    width: 50%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: transparent;
}

#links {
    padding-bottom: 15%;
}

#email {
    padding-top: 16%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.7;
}

#github {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.7;
}

#linkedin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.7;
}

#cv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.7;
}

#email:hover {
    opacity: 0.4; 
}

#github:hover {
    opacity: 0.4; 
}

#linkedin:hover {
    opacity: 0.4; 
}

#cv:hover {
    opacity: 0.4; 
}

/* SECTION ANIMATIONS */
#aboutTitle {
    animation-duration: 2s;
    animation-name: aboutMe;
    animation-iteration-count: 1;
    animation-direction: normal;
    width: 100%;
    color: rgb(216, 211, 211);
    text-shadow: 1px 1px 2px #363636;
}

#technologies {
    animation-duration: 2s;
    animation-name: technologies;
    animation-iteration-count: 1;
    animation-direction: normal;
    width: 100%;
    color: rgb(216, 211, 211);
    text-align: right;
    text-shadow: 1px 1px 2px #363636;
}

#projects {
    animation-duration: 2s;
    animation-name: projects;
    animation-iteration-count: 1;
    animation-direction: inherit;
    color: rgb(216, 211, 211);
    text-align: center;
    margin-bottom: 0px;
    text-shadow: 1px 1px 2px #363636;
}

#questions {
    padding-top: 15%;
    animation-duration: 2s;
    animation-name: questions;
    animation-iteration-count: 1;
    animation-direction: inherit;
    color: rgb(216, 211, 211);
    text-shadow: 1px 1px 2px #363636;
}

@keyframes aboutMe {
    0% {
      margin-left: -100%;
    }
}

@keyframes technologies {
    0% {
      margin-left: 100%;
    }
}

@keyframes projects {
    0% {
      margin-left: 50%;
    }
}

@keyframes questions {
    0% {
      margin-left: -100%;
    }
}



/* INTRO ANIMATION */
.animation-box {
    width: 100%;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  .intro-text {
    font-size: 30px;
    position: relative;
    opacity: 1;
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: 1;
    text-shadow: 2px 2px 4px #303030;
  }



  /* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 1030px) {
    .card-content {
        min-height: 320px;
    }
    .container {
        width: 75vw;
    }
    #aboutMe {
        margin: 0%;
    }
    .linkButtons {
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media only screen and (max-width: 800px) {
    body {
        width: 100%;
    }
    .container {
        width: 80vw;
    }
    .card {
        display: flexbox;
        align-items: center;
        height: fit-content;
    }
    .card-content {
        height: fit-content;
    }
    .title {
        text-align: center;
    }
    #profilePic {
        height: 80%;
        width: 80%;
    }
    #aboutMe {
        margin:0%;
    }
    #intro {
        margin: auto;
        padding-top: 10%;
    }
    .tech {
        display: flexbox;
    }
    .linkButtons {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 380px) {
    body {
        /* padding-left: 10%;
        padding-right: 10%; */
    }
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
    #navbarName {
        width: 70vw;
    }
    #aboutMe {
        margin:0%;
    }
    .cards {
        padding-left: 0%;
        padding-right: 0%;
    }
    p {
        width: 100%;
    }
    #upArrow {
        width: 60%;
        height: 40%;
    }
    #myBtn {
        width: 30px;
        height: 30px;
        padding: 0%;
    }
    hr {
        margin-bottom: 0%;
    }
}