body {
    background-image: linear-gradient(to bottom right, rgb(61, 145, 160), rgb(214, 133, 57));
    font-family: 'Prata', serif;
}

p {
    color: black;
}

.content {
    padding-bottom: 15%;
}

.container {
    padding-left: 12%;
    padding-right: 12%;
}

h2 {
    display: inline-block;
    width: 100%;
}

#profilePic {
    box-shadow: 5px 10px 20px;
}

#intro {
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
}

#aboutTitle {
    animation-duration: 2s;
    animation-name: aboutMe;
    animation-iteration-count: 1;
    animation-direction: normal;
    width: 120%;
}

#technologies {
    animation-duration: 2s;
    animation-name: technologies;
    animation-iteration-count: 1;
    animation-direction: normal;
    width: 120%;
}

#projects {
    animation-duration: 2s;
    animation-name: projects;
    animation-iteration-count: 1;
    animation-direction: inherit;
}

#questions {
    animation-duration: 2s;
    animation-name: questions;
    animation-iteration-count: 1;
    animation-direction: inherit;
}

#aboutMe {
    margin-left: 16%;
    margin-right: 16%;
}

#profilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
    border-radius: 50%;
}

#mainLanding {
    width: 100%;
    height: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

#navbarName {
    font-family: 'Cinzel Decorative', cursive;
    font-size: large;
    margin-left: 5%;
}

.navbar {
    background-color:rgb(255, 255, 255);
    max-width: auto;
}

.navbar-buttons {
    display: inline-block;
}

.navButtons {
    margin-left: 5%;
    margin-right: 5%;
}

#navbarMiddle {
    width: 50%;
}

.card {
    box-shadow: 5px 10px 20px;
}

.linkButtons {
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    width: 50%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    color: black;
}

#links {
    padding-bottom: 15%;
}

#email {
    background: url("assets/images/email.png")
}

@keyframes aboutMe {
    0% {
      margin-left: -100%;
    }
}

@keyframes technologies {
    0% {
      margin-left: 100%;
    }
}

@keyframes projects {
    0% {
      margin-left: 50%;
    }
}

@keyframes questions {
    0% {
      margin-left: -100%;
    }
}