body {
    background-image: linear-gradient(to bottom right, rgb(103, 163, 173), rgb(255, 135, 0));
    font-family: 'Prata', serif;
    width: 100%;
}

p {
    color: rgb(216, 211, 211);
}

hr {
    background-color: rgb(214, 133, 57);
}

.content {
    padding-bottom: 15%;
}

.container {
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    background-image: linear-gradient(rgb(88, 87, 86), rgb(103, 163, 173));
    box-shadow: 5px 10px 20px;
}

.title {
    padding-top: 20px;
    padding-left: 7px;
}

h2 {
    display: inline-block;
    width: 100%;
}

.tech {
    text-align: center;
    padding: 10px;
    box-shadow: 5px 10px 20px black;
    background-color: rgb(88, 87, 86);
}

#intro {
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    color: rgb(216, 211, 211);
    text-align: center;
}

#aboutTitle {
    animation-duration: 2s;
    animation-name: aboutMe;
    animation-iteration-count: 1;
    animation-direction: normal;
    width: 100%;
    color: rgb(216, 211, 211);
}

#technologies {
    animation-duration: 2s;
    animation-name: technologies;
    animation-iteration-count: 1;
    animation-direction: normal;
    width: 100%;
    color: rgb(216, 211, 211);
    text-align: right;
}

#projects {
    animation-duration: 2s;
    animation-name: projects;
    animation-iteration-count: 1;
    animation-direction: inherit;
    color: rgb(216, 211, 211);
    text-align: center;
}

#questions {
    padding-top: 15%;
    animation-duration: 2s;
    animation-name: questions;
    animation-iteration-count: 1;
    animation-direction: inherit;
    color: rgb(216, 211, 211);
}

#aboutMe {
    margin-left: 14%;
    margin-right: 14%;
    box-shadow: 5px 10px 20px black;
    padding: 20px;
    background-color: rgb(88, 87, 86);
}

 #projectsTitle {
     padding-bottom: 1%;
 }

#profilePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    box-shadow: 5px 10px 20px;
}

#mainLanding {
    width: 100%;
    height: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

#navbarName {
    font-family: 'Cinzel Decorative', cursive;
    font-size: large;
}

.navbar {
    background-color:rgb(255, 255, 255);
    box-shadow: 5px 10px 20px;
}

.navbar-buttons {
    display: inline-block;
}

.card-content {
    height: fit-content;
    min-height: 240px;
}

.card {
    box-shadow: 5px 10px 30px;
}

.image {
    width: 1640;
    height: 180px;
    box-shadow: 5px 10px 20px;
}

.image:hover {
    opacity: 0.7; 
}

.footer {
    padding-bottom: 2px;
    padding-top: 4px;
}

#footer {
    padding-bottom: 10px;
    padding-top: 10px;
}

#copyright {
    padding-top: 10px;
}

.linkButtons {
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    width: 50%;
    display: flexbox;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: transparent;
}

#links {
    padding-bottom: 15%;
}

#email {
    padding-top: 16%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#github {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#linkedin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#cv {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#email:hover {
    opacity: 0.5; 
}

#github:hover {
    opacity: 0.5; 
}

#linkedin:hover {
    opacity: 0.5; 
}

#cv:hover {
    opacity: 0.5; 
}

@keyframes aboutMe {
    0% {
      margin-left: -100%;
    }
}

@keyframes technologies {
    0% {
      margin-left: 100%;
    }
}

@keyframes projects {
    0% {
      margin-left: 50%;
    }
}

@keyframes questions {
    0% {
      margin-left: -100%;
    }
}

@media only screen and (max-width: 840px) {
    body {
        width: 100%;
    }
    .container {
        width: 80vw;
    }
    .card {
        display: flexbox;
        align-items: center;
        height: fit-content;
    }
    .card-content {
        height: fit-content;
    }
    .title {
        text-align: center;
    }
    #profilePic {
        height: 80%;
        width: 80%;
    }
    #aboutMe {
        margin:0%;
    }
    #intro {
        margin: auto;
        padding-top: 10%;
    }
    .tech {
        display: flexbox;
    }
    .linkButtons {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 360px) {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }
    #navbarName {
        width: 70vw;
    }
    #aboutMe {
        margin:0%;
    }
    .cards {
        padding-left: 0%;
        padding-right: 0%;
    }
}